{% load static %}
{% load crispy_forms_tags %}

<html>

    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">

    </head>

    <div class="container bg-green shadow-md p-5 form-layout">

        <h3> Password reset </h3>

        <p> Forgotten your password? </p>

        <form method="POST">

            {% csrf_token %}

            {{form|crispy}}
            
            <input class="btn btn-primary btn-md w-100 btn-block p5 form-layout" type="Submit" name="Send mail" value="Send password reset email">

        </form>

    </div>

</html>